@import url('https://fonts.googleapis.com/css2?family=Allura:wght@400&display=swap');

.search-container {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2675a5;
    /* cambio de ia */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.left-buttons {
    display: flex;
    align-items: center;
    justify-content: first baseline;
}

.left-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding-left: 2vh;
}

.contact {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding-right: 2vh;
}